* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  margin: auto;
  max-width: 1280px;
  position: relative;
}

@font-face {
  font-family: gillSansItalic;
  src: url(../assets/fonts/GillSans\ Italic.ttf);
}
@font-face {
  font-family: gillSansReg;
  src: url(../assets/fonts/GillSans.ttf);
}
@font-face {
  font-family: gillSansLight;
  src: url(../assets/fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: caveatBold;
  src: url(../assets/fonts/Caveat-Bold.ttf);
}
@font-face {
  font-family: caveatReg;
  src: url(../assets/fonts/Caveat-Regular.ttf);
}
@font-face {
  font-family: latoLight;
  src: url(../assets/fonts/Lato/Lato-Light.ttf);
}
@font-face {
  font-family: latoReg;
  src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}
@font-face {
  font-family: latoBlack;
  src: url(../assets/fonts/Lato/Lato-Black.ttf);
}
@font-face {
  font-family: latoItalic;
  src: url(../assets/fonts/Lato/Lato-Italic.ttf);
}
nav {
  margin: 0 auto;
  height: 100px;
  max-width: 1280px;
  font-family: caveatReg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 50px;
  z-index: 99;
  position: relative;
}
nav .logo {
  width: 168px;
  height: 55px;
}
nav .logo img {
  width: 168px;
  height: 55px;
}
nav .links a {
  padding: 0px 10px;
  font-size: 25px;
  text-decoration: none;
  color: #000;
}
nav .links a:hover {
  text-decoration: underline;
}
nav .links #log_btn {
  width: 158px;
  height: 52px;
  text-align: center;
  display: inline-block;
  background-color: #ffd972;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px rgba(69, 68, 68, 0.611);
}

footer {
  display: flex;
  max-width: 1280px;
  min-width: 800px;
  height: 50px;
  margin: 0 auto;
  align-items: center;
  flex-direction: row;
  z-index: 100;
  position: relative;
}

footer .logo {
  width: 25%;
  text-align: center;
}

footer .links a {
  text-decoration: none;
  color: black;
  margin: auto;
  font-family: latoItalic, Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  padding-right: 20px;
}

footer .copyright {
  width: 50%;
  font-family: latoItalic;
  text-align: center;
  color: black;
}

footer .icons {
  width: 25%;
  text-align: center;
}

footer .icons i img {
  width: 40px;
  height: 27px;
  padding-left: 20px;
}

.home {
  background-image: linear-gradient(rgba(252, 188, 184, 0.7019607843), rgba(239, 167, 167, 0.7019607843)), url(../../assets/images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  min-height: 800px;
  padding: 0px 0px;
  position: relative;
  width: 1280px;
  margin-top: -100px;
  margin-bottom: -75px;
  z-index: 5;
}
.home .circles {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  display: inline-block;
  height: 500px;
  width: 500px;
  line-height: 18px;
  border-radius: 50%;
  color: black;
  left: 400px;
  right: 400px;
  top: 225px;
}
.home .circles .cr_stuff {
  position: relative;
}
.home .circles .cr_stuff .title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
  font-family: latoReg;
  letter-spacing: 1.5px;
  margin-bottom: 19px;
  padding-top: 45px;
}
.home .circles .cr_stuff .dets {
  position: absolute;
  width: 140px;
  text-align: left;
  font-family: latoReg;
  letter-spacing: 0.9px;
  margin-top: 15px;
  margin-left: 100px;
  margin-right: -100px;
  margin-bottom: 19px;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home .circles .sm_circle {
  position: relative;
  float: right;
  width: 168px;
  height: 168px;
  text-align: center;
  background-color: #fcbcb8;
  padding: 10px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-family: caveatReg;
  z-index: 5;
  right: 75px;
  bottom: 50px;
}
.home .circles .lg_circle {
  position: relative;
  width: 360px;
  height: 360px;
  text-align: center;
  background-color: #ffd972;
  padding: -10px;
  border-radius: 50%;
  border: none;
  font-size: 20px;
  font-family: caveatReg;
  z-index: 5;
}

#browse {
  margin: 0 auto;
  min-height: 800px;
  padding: 0px 150px;
  position: relative;
  width: 1280px;
  margin-top: -100px;
  margin-bottom: -75px;
  z-index: 5;
  background-image: linear-gradient(rgba(166, 232, 188, 0.7), rgba(166, 232, 188, 0.7)), url(../../assets/images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#browse_title {
  height: 32px;
  padding-top: 225px;
  text-align: left;
  font-family: caveatBold;
  letter-spacing: 2.5px;
  font-size: 25px;
}
#browse .brw-card-list {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 170px;
}
#browse .brw-card-list .brw-row-1 {
  display: flex;
  justify-content: center;
}
#browse .brw-card-list .brw-row-2 {
  display: flex;
  justify-content: center;
}
#browse .brw-card-list .brw-card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 340px;
  width: 500px;
  margin-bottom: 32px;
}
#browse .brw-card-list .brw-card .brw-img_1 {
  min-width: 300px;
  max-width: 300px;
  height: 263px;
  background-image: url(../../assets/images/recipe-pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#browse .brw-card-list .brw-card .brw-img_2 {
  min-width: 300px;
  max-width: 300px;
  height: 263px;
  background-image: url(../../assets/images/recipe-burger.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#browse .brw-card-list .brw-card .brw-img_3 {
  min-width: 300px;
  max-width: 300px;
  height: 263px;
  background-image: url(../../assets/images/recipe-pilaf.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#browse .brw-card-list .brw-card .brw-img_4 {
  min-width: 300px;
  max-width: 300px;
  height: 263px;
  background-image: url(../../assets/images/recipe-chowmein.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#browse .brw-card-list .brw-card .brw-info {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 224px;
  height: 263px;
  border-radius: 24px;
}
#browse .brw-card-list .brw-card .brw-info-title {
  text-align: left;
  font-family: latoReg;
  letter-spacing: 1.5px;
  border-bottom: 3px solid black;
  margin-bottom: 19px;
  padding-top: 45px;
}
#browse .brw-card-list .brw-card .brw-info-dets {
  width: 140px;
  text-align: left;
  font-family: latoReg;
  letter-spacing: 0.9px;
  margin-bottom: 19px;
  font-size: 9px;
}
#browse .brw-card-list .brw-card .brw-info-time {
  text-align: left;
  font-family: latoReg;
  letter-spacing: 0.2px;
  margin-bottom: 19px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#browse .brw-card-list .brw-card .brw-info-time img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
#browse .brw-card-list .brw-card .brw-info-serves {
  text-align: left;
  font-family: latoReg;
  letter-spacing: 0.2px;
  margin-bottom: 19px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#browse .brw-card-list .brw-card .brw-info-serves img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.createRecipe-page {
  margin: 0 auto;
  height: 2150px;
  max-width: 1280px;
  padding: 0px 150px;
}
.createRecipe-page_title {
  height: 32px;
  padding-top: 126px;
  text-align: left;
  font-family: caveatBold;
  letter-spacing: 2.5px;
  font-size: 25px;
}
.createRecipe-page_form {
  padding-top: 100px;
}
.createRecipe-page_form .ingredients-recipe-inputs,
.createRecipe-page_form .instructions-recipe-inputs {
  position: relative;
}
.createRecipe-page_form .ingredients-recipe-inputs .addBtn-ingred,
.createRecipe-page_form .ingredients-recipe-inputs .addBtn-instr,
.createRecipe-page_form .instructions-recipe-inputs .addBtn-ingred,
.createRecipe-page_form .instructions-recipe-inputs .addBtn-instr {
  width: 40px;
  height: 40px;
  background-color: #efa7a7;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  font-size: 30px;
  position: absolute;
  right: 5px;
  bottom: 10px;
  text-align: center;
  padding-top: 10px;
  z-index: 99;
}
.createRecipe-page_form #createRecipe-addRecipe-btn {
  height: 52px;
  width: 422px;
  background-color: #efa7a7;
  border-radius: 26px;
  text-align: center;
  font-size: 25px;
  border-bottom: none !important;
  margin: 0 auto;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  cursor: pointer;
}
.createRecipe-page_form #createRecipe-addRecipe-btn:hover,
.createRecipe-page_form .addBtn-ingred:hover,
.createRecipe-page_form .addBtn-instr:hover {
  background-color: #fcbcb8;
}
.createRecipe-page_form input {
  display: block;
  margin-bottom: 90px;
  width: 980.16px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 20px;
  font-family: latoLight;
  padding-bottom: 5px;
  position: relative;
}
.createRecipe-page_form input::placeholder {
  color: black;
  letter-spacing: 2px;
}
.createRecipe-page .createRecipe-page_form-title {
  font-family: latoBlack;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 135px;
  padding-bottom: 40px;
}

#logpage {
  margin-top: -100px;
  margin-bottom: -75px;
  z-index: 5;
  background-color: #ffd972;
  display: flex;
  position: relative;
}
#logpage #logbox {
  width: 300px;
  margin: 0 auto;
  margin-top: 221.5px;
}
#logpage #logbox #logbox-body input {
  display: block;
  margin-bottom: 90px;
  width: 206.5px;
  border: none;
  background: none;
  border-bottom: 3px solid black;
  font-size: 12px;
  font-family: latoLight;
  padding-bottom: 5px;
  position: relative;
}
#logpage #logbox #logbox-input {
  width: 158px;
  height: 52px;
  text-align: center;
  display: inline-block;
  background-color: #ffd972;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px rgba(69, 68, 68, 0.611);
}
#logpage #logbox #logbox-input input {
  background-color: #ffd972;
  border: none;
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
#logpage #logbox input::placeholder {
  color: black;
  letter-spacing: 2px;
}
#logpage #signbox {
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}
#logpage #signbox #signbox-body input {
  display: block;
  margin-bottom: 90px;
  width: 250.23px;
  border: none;
  background: none;
  border-bottom: 3px solid black;
  font-size: 12px;
  font-family: latoLight;
  padding-bottom: 5px;
  position: relative;
}
#logpage #signbox #signbox-input {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#logpage #signbox #signbox-input input {
  width: 158px;
  height: 52px;
  text-align: center;
  display: inline-block;
  background-color: #ffd972;
  padding: 10px;
  border-radius: 25px;
  box-shadow: 5px 10px 8px rgba(69, 68, 68, 0.611);
  border: none;
  font-size: 20px;
  cursor: pointer;
}
#logpage #signbox input::placeholder {
  color: black;
  letter-spacing: 2px;
}

.yourRecipes-page {
  margin: 0 auto;
  min-height: 800px;
  padding: 0px 150px;
  position: relative;
  width: 1280px;
  margin-top: -100px;
  margin-bottom: -75px;
  z-index: 5;
  background-image: linear-gradient(rgba(166, 232, 188, 0.7), rgba(166, 232, 188, 0.7)), url(../../assets/images/recipe-hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.yourRecipes-page_title {
  height: 32px;
  padding-top: 225px;
  text-align: left;
  font-family: caveatBold;
  letter-spacing: 2.5px;
  font-size: 25px;
}
.yourRecipes-page .yourRecipes-list {
  margin-top: 64px;
  display: flex;
  align-items: center;
  justify-content: left;
  flex-direction: row;
  flex-wrap: wrap;
  padding-bottom: 170px;
}
.yourRecipes-page .yourRecipes-list_item {
  margin: 5px;
  height: 340px;
  width: 500px;
  margin-bottom: 32px;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-image {
  min-width: 300px;
  max-width: 300px;
  height: 263px;
  background-image: url(../../assets/images/recipe-pizza.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-image input {
  background-color: #ffd972;
  border: none;
  width: 128px;
  height: 43px;
  border-radius: 26px;
  text-align: center;
  font-size: 20px;
  font-family: caveatReg;
  cursor: pointer;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-info {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  width: 224px;
  height: 263px;
  border-radius: 24px;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-info .yourRecipes-list_item-info-title {
  text-align: left;
  font-family: latoBlack;
  letter-spacing: 1.5px;
  border-bottom: 3px solid black;
  margin-bottom: 19px;
  padding-top: 45px;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-info .yourRecipes-list_item-info-desc {
  width: 140px;
  text-align: left;
  font-family: latoReg;
  letter-spacing: 0.9px;
  margin-bottom: 19px;
  font-size: 9px;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-info .yourRecipes-list_item-info-time {
  text-align: left;
  font-family: latoReg;
  letter-spacing: 0.2px;
  margin-bottom: 19px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-info .yourRecipes-list_item-info-time img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-info .yourRecipes-list_item-info-serving {
  text-align: left;
  font-family: latoReg;
  letter-spacing: 0.2px;
  margin-bottom: 19px;
  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-inner-container .yourRecipes-list_item-info .yourRecipes-list_item-info-serving img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-buttons {
  margin-top: 15px;
}
.yourRecipes-page .yourRecipes-list_item .yourRecipes-list_item-buttons input {
  background-color: #ffd972;
  border: none;
  width: 128px;
  height: 43px;
  border-radius: 26px;
  text-align: center;
  font-size: 20px;
  font-family: caveatReg;
  cursor: pointer;
}

.editRecipe-page {
  margin: 0 auto;
  height: 2150px;
  max-width: 1280px;
  padding: 0px 150px;
}
.editRecipe-page_title {
  height: 32px;
  padding-top: 126px;
  text-align: left;
  font-family: caveatBold;
  letter-spacing: 2.5px;
  font-size: 25px;
}
.editRecipe-page_form {
  padding-top: 100px;
}
.editRecipe-page_form #editRecipe-addIngredient-btn,
.editRecipe-page_form #editRecipe-addInstruction-btn {
  width: 38px;
  height: 38px;
  background-color: #efa7a7;
  border-radius: 100px;
  border-bottom: none !important;
}
.editRecipe-page_form #editRecipe-addIngredient-btn {
  position: absolute;
  top: 1385px;
  left: 1400px;
}
.editRecipe-page_form #editRecipe-addInstruction-btn {
  position: absolute;
  top: 1967px;
  left: 1400px;
}
.editRecipe-page_form #editRecipe-addRecipe-btn {
  height: 52px;
  width: 422px;
  background-color: #efa7a7;
  border-radius: 26px;
  text-align: center;
  font-size: 25px;
  border-bottom: none !important;
  margin: 0 auto;
  box-shadow: 0px 10px 6px rgba(0, 0, 0, 0.1607843137);
  cursor: pointer;
}
.editRecipe-page_form #editRecipe-addRecipe-btn:hover,
.editRecipe-page_form #editRecipe-addIngredient-btn:hover,
.editRecipe-page_form #editRecipe-addInstruction-btn:hover {
  background-color: #fcbcb8;
}
.editRecipe-page_form input {
  display: block;
  margin-bottom: 90px;
  width: 980.16px;
  border: none;
  border-bottom: 3px solid black;
  font-size: 20px;
  font-family: latoLight;
  padding-bottom: 5px;
  position: relative;
}
.editRecipe-page_form input::placeholder {
  color: black;
  letter-spacing: 2px;
}
.editRecipe-page .editRecipe-page_form-title {
  font-family: latoBlack;
  font-size: 20px;
  letter-spacing: 2px;
  padding-top: 135px;
  padding-bottom: 40px;
}

.viewRecipe-page {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1280px;
  padding: 0px 178px 0px 98px;
  margin-top: 100px;
}
.viewRecipe-page .viewRecipe-page_title {
  height: 1000px;
  width: 5%;
}
.viewRecipe-page .viewRecipe-page_title p {
  rotate: 270deg;
  width: 180px !important;
  margin-top: 100px;
  margin-left: -65px;
  font-family: latoBlack;
  font-size: 25px;
}
.viewRecipe-page .viewRecipe-page_info {
  display: flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-image {
  min-width: 468px;
  min-height: 421px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-image img {
  width: 100%;
  height: 100%;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc {
  margin: 0 auto;
  margin-left: 40px;
  margin-top: -100px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descTitle {
  text-align: left;
  font-family: latoBlack;
  letter-spacing: 5px;
  font-size: 25px;
  margin-bottom: 35px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descContent {
  font-size: 20px;
  margin-bottom: 45px;
  font-family: caveatReg;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descTime {
  font-size: 20px;
  margin-bottom: 35px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descTime .viewRecipe-descTime1 {
  font-family: latoBlack;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descTime .viewRecipe-descTime2 {
  font-family: caveatReg;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descServings {
  font-size: 20px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descServings .viewRecipe-descServings1 {
  font-family: latoBlack;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoRow .viewRecipe-desc .viewRecipe-descServings .viewRecipe-descServings2 {
  font-family: caveatReg;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoCol {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoCol .viewRecipe-ingredTitle {
  font-family: latoBlack;
  margin-bottom: 35px;
  font-size: 25px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoCol .viewRecipe-ingreds {
  font-family: caveatReg;
  font-size: 20px;
  margin-bottom: 65px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoCol .viewRecipe-instructTitle {
  margin-bottom: 35px;
  font-family: latoBlack;
  font-size: 25px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoCol .viewRecipe-instructions {
  font-family: caveatReg;
  font-size: 20px;
  margin-bottom: 60px;
}
.viewRecipe-page .viewRecipe-page_info .viewRecipe-page_infoCol #viewRecipe-editRecipe-btn {
  background-color: #ffd972;
  border: none;
  width: 128px;
  height: 43px;
  border-radius: 26px;
  text-align: center;
  font-size: 20px;
  font-family: caveatReg;
  cursor: pointer;
  margin-bottom: 65px;
}

/*# sourceMappingURL=styles.css.map */
