nav {
  margin: 0 auto;
  height: 100px;
  max-width: 1280px;
  font-family: caveatReg;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 38px 50px;
  z-index: 99;
  position: relative;

  .logo {
    width: 168px;
    height: 55px;

    img {
      width: 184px;
      height: 55px;
      padding: 5px;
    }
  }

  #toggle {
    display: none;
    position: absolute;
    right: 0;
  }

  label {
    display: none;
    position: absolute;
    right: 5px;
    line-height: 50px;
    color: #000;
    font-size: 35px;
    top: 35px;
  }

  .links {
    a {
      padding: 0px 10px;
      font-size: 25px;
      text-decoration: none;
      color: #000;
    }

    a:hover {
      text-decoration: underline;
    }

    .nav-loginButton {
      width: 158px;
      height: 52px;
      text-align: center;
      display: inline-block;
      background-color: $site-yellow;
      padding: 10px;
      border-radius: 25px;
      box-shadow: 5px 10px 8px rgba(69, 68, 68, 0.611);
    }
  }
}

@media (max-width: 768px) {
  nav {
    padding: 10px;
    height: 100px;

    label {
      display: block;
      cursor: pointer;
      padding-right: 20px;
    }

    #toggle {
      display: none;
    }

    #toggle:checked + .links {
      display: block;
    }

    #toggle ~ .links a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1);
      font-size: 0px;
    }

    #toggle:checked ~ .links a {
      border: 1px solid $site-red;
      height: 40px;
      font-size: 12px;
      // font-family: SegoeReg;
      text-transform: uppercase;
      letter-spacing: 1px;
      transition: height 200ms cubic-bezier(0.03, 1, 0.32, 1);
    }

    .links {
      position: absolute;
      top: 0;
      margin-top: 92px;
      right: 5px;
      flex-direction: column;
      width: 50%;
      justify-content: center;
      align-items: center;

      z-index: 9999;

      a {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 100%;
        color: #000;
        background-color: $site-darkPink;
      }

      a:not(:last-child) {
        border-bottom: 1px solid #000;
      }

      a:hover {
        text-decoration: none;
        color: $site-red;
        transition: 0.2s ease-in, 0.2s ease-out;
      }

      .nav-loginButton {
        margin-left: 20px !important;
      }
    }
  }
}
