.home{
   
    background-image: linear-gradient(
        #fcbcb8b3,
        #efa7a7b3
      ),
      url(../../assets/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    min-height: 800px;
    padding: 0px 0px;
    position: relative;
    width: 1280px;
    margin-top: -100px;
    margin-bottom: -75px;
    z-index: 5;

    .circles{
        display:inline-block;
        height: 500px;
        width: 500px; 
        line-height: 18px;
        border-radius: 50%;
        color: black;
    p{
      .title{
        text-align: left;
        font-family: latoReg;
        letter-spacing: 1.5px;
        border-bottom: 3px solid black;
        margin-bottom: 19px;
        padding-top: 45px;
      }
      .dets{

      }
    }
    .sm_circle{
        float: right;
        width: 168px;
        height: 168px;
        text-align: center;
   
        background-color: $site-lightPink;
        padding: 10px;
        border-radius: 50%;
        
        border: none;
        font-size: 20px;
        font-family: caveatReg;
        z-index: 5;
       
    }
    .lg_circle{ 
           
        width: 360px;
        height: 360px;
        text-align: center;
        
        background-color: $site-yellow;
        padding: -10px;
        border-radius: 50%;
        
        border: none;
        font-size: 20px;
        font-family: caveatReg;
        z-index: 1;
    }
}
}