.home{
   
    background-image: linear-gradient(
        #fcbcb8b3,
        #efa7a7b3
      ),
      url(../assets/images/hero.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    min-height: 800px;
    padding: 0px 0px;
    position: relative;
    width: 1280px;
    margin-top: -100px;
    margin-bottom: -75px;
    z-index: 5;

    .circles{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        position: absolute;
        display:inline-block;
        height: 500px;
        width: 500px; 
        line-height: 18px;
        border-radius: 50%;
        color: black;
        left: 400px;
        right: 400px;
        top: 225px;
    .cr_stuff{
        position: relative;
    
      .title{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        
        text-align: left;
        font-family: latoBlack;
        letter-spacing: 1.5px;
        // border-bottom: 3px solid black;
        font-size: 24px;
        margin-left: 19px;
        padding-top: 115px;
        padding-bottom: 5px;
      }
      .lg.dets{
        position: absolute;       
        width: 140px;
        text-align: center;
        font-family: latoReg;
       
        margin-top: 15px;
        margin-left: 105px;
        margin-right: -100px;
        margin-bottom: 19px;
        font-size: 13px;
        display: flex;
    align-items: center;
justify-content: center;
flex-direction: column;
      }
      .sm.dets{
        position: absolute;       
        width: 140px;
        text-align: left;
        font-family: latoItalic;
        padding: 19px;
        margin-top: 16px;
        margin-left: 10px;
        // margin-right: -100px;
        //margin-bottom: 19px;
        font-size: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        top: 10px;
      }
    }
    .sm_circle{
        position: relative;
        float: right;
        width: 168px;
        height: 168px;
        text-align: center;

        background-color: $site-lightPink;
        padding: 10px;
        border-radius: 50%;
        
        border: none;
        font-size: 20px;
        font-family: caveatReg;
        z-index: 5;
       right: 75px;
       bottom: 50px;
    }
    .lg_circle{ 
        position: relative;
        width: 360px;
        height: 360px;
        text-align: center;
        
        background-color: $site-yellow;
        padding: -10px;
        border-radius: 50%;
        
        border: none;
        font-size: 20px;
        font-family: caveatReg;
        z-index: 5;
    }
}
}